body {
  margin: 0;
}
.home {
  height: 100%;
  background-image: url("images/o.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-direction: row;
}

.header-menu-items span {
  color: white;
}

.search-bar {
  background-color: white;
  display: flex;
  border-radius: 4px 0 0 4px;
  border-radius: 16px;
  text-align: center;
  
}

.search-bar .search-container {
  display: flex;
  background-color: #e00707;
  width: 48px;
  height: 56px;
  text-align: center;
}

.search-bar .input-fields {
  display: flex;
}

.search-bar input {
  font-size: 14px;
  border: none;
}

.search-bar .service-input {
  border-radius: 4px 0 0 4px;
}

.search-bar .divider {
  background-color: #ebebeb;
  bottom: 12px;
  content: "";
  right: 0;
  top: 12px;
  width: 2px;
  margin-right: 16px;
}

.search-bar .search-icon {
  
  text-align: center;
 
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  top: 0;
  fill: currentColor;
}

.header button {
  height: 40px;
  width: 82px;
  /* background-color: transparent; */
  border-radius: 4px;

  text-decoration: none;
  color: white;
  font-size: 16px;
}
.sign-up {
  border: none;
  margin-right: 12px;
  background-color: rgba(224, 7, 7, 1);
  border-radius: 4px;
}

.login-btn {
  border: 2px solid #e7e7e7;
  background-color: transparent;
  margin-right: 12px;
}

.header-menu-items {
  display: flex;
  align-items: center;
}
.header span {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1;
}

.header span {
  margin: 12px;
  display: inline;
}

.header-below-items{
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border-bottom: 4px solid #0000;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin: 23px;
  padding-left: 35px;
  letter-spacing: 01;
}
.search-icon{
  padding: 15px;  
  vertical-align: middle;
  border-radius: 0 4px 4px 0;

}



/* .dropdownbtn {
  display: block;
  padding: 40;
  color: transparent;
  text-align: justify;
  margin: 0;
  padding-left: 140px;
  background-color: transparent;
  font-style: italic;
  border-color:transparent;
   */



   .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
   

 h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    text-align: center;
    }
  

    .recent-activities h3 {

      font-size: 22px;
      text-align: center;

      
    }
    .recent-activities{
      margin-top: 10%;
      
    }

    
    .comment{

      display:flex;
      text-align:left;
      width:auto;
      justify-content:center;



    }

    .comment .comment-member{

   
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding:20px;
    line-height:20px;
    color:#8e8b8b;
    position:relative;

  }